.carousel {
  height: 700px;
  position: relative;
  
}

.image-slide {
	height: 100%;
	width: 100%;
	transition: background-image .3s ease-in-out;
}

.slide-arrow {
	color: rgb(255, 255, 255, 0.6);
	cursor: pointer;
	font-size: 5rem;
  position: absolute;
  margin-top: -22px;
  top: 50%;
  padding: 16px;
  transition: 0.4s ease;
  filter: brightness(0) invert(1);
  opacity: .4;
}

/* On hover, add a black background color with a little bit see-through */
.slide-arrow.left:hover, .slide-arrow.right:hover{
  opacity: .7;
}

.slide-arrow.right {
	right: 1rem;
}

.slide-arrow.left {
	left: 1rem;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

.movie-text {
  color: #f2f2f2;
  font-size: 30px;
  padding: 20px 10px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.5);
  font-family: Century Gothic;
  padding-bottom: 30px;
  padding-top: 30px;
}

#title {
  font-weight: 550;
}

.movie-caption {
  font-size: 15px;
}

#rating {
  font-size: 20px;
  right: 3px;
  position: relative;
  top: 10px;
}

#star {
  filter: brightness(0) invert(1);
  vertical-align: middle;
  width: 25px;
  height: auto;
  align-items: center;
  top: -2px;
  position: relative;
  right: 3px;
}

#calendar {
  filter: brightness(0) invert(1);
  vertical-align: middle;
  width: 25px;
  height: auto;
  align-items: center;
  top: -2px;
  position: relative;
  left: 10px;
}

#release-date {
  left: 12px;
  position: relative;
}



